extends layout

block content
  h1= title
  - var results=[{name:"dog",lifetime:4,color:"black"},{name:"cat",lifetime:5,color:"white"},{name:"rat",lifetime:2,color:"brown"}];
    
  
  div(class="container-fluid")
    div(class="row")
      each item, key in results
        - var value=item;
        - var index=key;
        div(class="col-sm-2", onclick=`buy(${index})`) name is #{item.name} <br /> lifetime is #{item.lifetime} <br /> color is #{item.color}

  script.
   function buy(x) 
   {
     alert(`You purchased item ${x}`)
   } 
        
      
